.left-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    backdrop-filter: blur(17px);
    transition: width 0.3s;
}

.left-menu-container:hover {
    width: 175px;

    .logo-container {
        flex-direction: row;
    }
    
    .icon-desc {
        display: block;
    }

    .inner-icon-container {
        padding-left: 10px;
        justify-content: start;
    }
}

.logo-container {
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.logo-img {
    width: 70px;
    height: 30px;

    svg {
        .background {
            opacity: 0;
          }
    }
}

.logo-title {
    width: 70px;
    height: 25px;
}

.submenus {
    height: calc(100svh - 100px);
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
}

.submenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-menu-icon {
    font-size: 1.6rem;
    font-weight: 300;
}

.icon-desc {
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    display: none;
}

.icon-light, .icon-desc-light {
    color: #000;
}

.icon-dark, .icon-desc-dark {
    color: #fff;
}

.icon-container {
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}

.inner-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}


.icon-container:hover {
    background-color: rgba(0, 0, 0, 0.5);

    .inner-icon-container {
        scale: 1;
    }

    .main-menu-icon {
        color: yellow;
        font-weight: 400;
    }

    .icon-desc {
        color: yellow;
        font-weight: 400;
    }
}


.logo-img-light {
    svg {
        path {
            fill: #000;
        }
    }
}

.logo-title-light {
    svg {
        path {
            fill: #000;
        }

        .business-name {
            fill: #fff;
        }
    }
}